<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <link rel="stylesheet" href="/styles/lightbox-wg.css">
</head>
<body>

<h2 style="text-align:center">Highlights aus meinem Werdegang</h2>

<div class="row">
  <div class="column">
    <img src="/img/werdegang/tu-berlin-postcard.png" style="width:100%" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
  </div>
  <div class="column">
    <img src="/img/werdegang/utworld.jpeg" style="width:100%" onclick="openModal();currentSlide(2)" class="hover-shadow cursor">
  </div>
  <div class="column">
    <img src="/img/werdegang/Gasturbine.jpg" style="width:100%" onclick="openModal();currentSlide(3)" class="hover-shadow cursor">
  </div>
  <div class="column">
    <img src="/img/werdegang/wtc2.jpg" style="width:100%" onclick="openModal();currentSlide(4)" class="hover-shadow cursor">
  </div>
  <div class="column">
    <img src="/img/werdegang/telefunken2.jpg" style="width:100%" onclick="openModal();currentSlide(5)" class="hover-shadow cursor">
  </div>
  <div class="column">
    <img src="/img/werdegang/uttower.jpg" style="width:100%" onclick="openModal();currentSlide(6)" class="hover-shadow cursor">
  </div>
  <div class="column">
    <img src="/img/werdegang/hvb-large.jpg" style="width:100%" onclick="openModal();currentSlide(7)" class="hover-shadow cursor">
  </div>

</div>

<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">

    <div class="mySlides">
      <div class="numbertext">1 / 4</div>
      <img src="/img/werdegang/tu-berlin-postcard.png" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">2 / 4</div>
      <img src="/img/werdegang/utworld.jpeg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 4</div>
      <img src="/img/werdegang/Gasturbine.jpg" style="width:100%">
    </div>
    

    <div class="mySlides">
      <div class="numbertext">4 / 4</div>
      <img src="/img/werdegang/wtc2.jpg" style="width:100%">
    </div>


    <div class="mySlides">
      <div class="numbertext">5 / 4</div>
      <img src="/img/werdegang/telefunken2.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">6 / 4</div>
      <img src="/img/werdegang/uttower.jpg" style="width:100%">
    </div>
    
    <div class="mySlides">
      <div class="numbertext">6 / 4</div>
      <img src="/img/werdegang/hvb-large.jpg" style="width:100%">
    </div>



    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <div class="caption-container">
      <p id="caption"></p>
    </div>


    <div class="column">
      <img class="demo cursor" src="/img/werdegang/tu-berlin-postcard.png" style="width:100%" onclick="currentSlide(1)" alt="Hauptgebaeude der Technischen Universitaet Berlin">
    </div>
    <div class="column">
      <img class="demo cursor" src="/img/werdegang/utworld.jpeg" style="width:100%" onclick="currentSlide(2)" alt="The University of Texas at Austin - Campus">
    </div>
    <div class="column">
      <img class="demo cursor" src="/img/werdegang/Gasturbine.jpg" style="width:100%" onclick="currentSlide(3)" alt="SIEMENS Gasturbinenwerk Berlin">
    </div>
    <div class="column">
      <img class="demo cursor" src="/img/werdegang/wtc2.jpg" style="width:100%" onclick="currentSlide(4)" alt="World Trade Center Barcelona">
    </div>
    <div class="column">
      <img class="demo cursor" src="/img/werdegang/telefunken2.jpg" style="width:100%" onclick="currentSlide(5)" alt="Hochhaus TU-Berlin">
    </div>
    <div class="column">
      <img class="demo cursor" src="/img/werdegang/uttower.jpg" style="width:100%" onclick="currentSlide(6)" alt="Hauptverwaltung University of Texas">
    </div>
    <div class="column">
      <img class="demo cursor" src="/img/werdegang/hvb-large.jpg" style="width:100%" onclick="currentSlide(7)" alt="HypoVereinsbank - heute UniCredit">
    </div>

  </div>
</div>

<script src="/controllers/lightbox.js"></script>
    
</body>
</html>